// Overriding bulma variables
$radius-small: 0px;
$radius: 0px;
$radius-large: 0px;

$modal-background-background-color: rgba(0, 0, 0, 0.5);

// Importing bulma
@import '~bulma';

// Importing other third-party stylesheets
@import '~hint.css/hint.css';

// Global rules
html,
body,
#app {
  width: 100%;
}
