@import './theme.scss';

// Importing other third-party stylesheets
@import '~hint.css/hint.css';
@import '~rc-slider/assets/index.css';

// Custom variables
@import './variables.scss';

html,
body,
#app {
  width: 100%;
  overflow: hidden;
}

.modal-background {
  cursor: pointer;
}

// Overriding rc-slider default styles
.rc-slider-handle,
.rc-slider-handle:hover,
.rc-slider-handle-click-focused,
.rc-slider-dot,
.rc-slider-dot-active {
  border: 1px solid $nansi-medium !important;
}

.rc-slider-track {
  background-color: $nansi-medium;
}

// Extending hints
.hint--custom:after {
  width: attr(data-hint-width px, 0);
}
