// Overriding bulma variables
$radius-small: 0px;
$radius: 0px;
$radius-large: 0px;

$progress-border-radius: 0px;

$modal-background-background-color: rgba(0, 0, 0, 0.5);
$box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

// Importing bulma
@import '~bulma';

// Importing other third-party stylesheets
@import '~hint.css/hint.css';
@import '~rc-slider/assets/index.css';

// Global rules
@import './variables.scss';

html,
body,
#app {
  width: 100%;
  overflow: hidden;
}

.modal-background {
  cursor: pointer;
}

// Overriding rc-slider default styles
.rc-slider-handle,
.rc-slider-handle:hover,
.rc-slider-handle-click-focused,
.rc-slider-dot,
.rc-slider-dot-active {
  border: 1px solid $nansi-medium !important;
}

.rc-slider-track {
  background-color: $nansi-medium;
}

// Extending hints
.hint--custom:after {
  width: attr(data-hint-width px, 0);
}
