@import '../../variables.scss';

#GraphControls {
  position: absolute;
  right: $gutter;
  top: $gutter;
  z-index: 10;

  .control-button {
    // border: 1px solid $nansi-dark;
    width: 42px;
    height: 42px;
    cursor: pointer;
    // background-color: $nansi-light;
    background: white;
    padding-left: 5px;
    padding-top: 5px;

    svg {
      fill: $nansi-dark;
    }

    margin-bottom: 5px;
  }
}
