@import '../../variables.scss';

#GraphInformation {
  position: absolute;
  right: $gutter;
  bottom: $gutter;
  z-index: 10;
  // background-color: $nansi-light;
  background: white;
  color: $nansi-dark;
  padding: $gutter;
  min-width: $gutter * 25;
  border: 1px solid $nansi-light;

  .title {
    margin-bottom: $gutter;
  }
}
