@import '../../variables.scss';

#GraphInformation {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  background-color: $nansi-light;
  color: $nansi-dark;
  padding: 15px;
  min-width: 300px;
  border: 1px solid $nansi-dark;
}
