@import '../../variables.scss';

#GraphLegend {
  position: absolute;
  right: $gutter;
  bottom: $gutter * 15;
  // bottom: $gutter * 10;
  z-index: 10;
  background-color: white;
  color: $nansi-dark;
  padding: $gutter 0 $gutter $gutter;
  width: $gutter * 25;
  border: 1px solid $nansi-light;

  &.graph-has-title {
    bottom: 15px + 128px + 5px; // TODO change that but did not have the opportunity to test
  }

  .title {
    &.is-6 {
      margin-bottom: $gutter;
    }
    &.is-7 {
      margin-bottom: $gutter;
    }
  }

  ul {
    max-height: calc(100vh - #{$gutter} * 37);
    overflow-y: auto;

    li {
      text-overflow: ellipsis;
    }
  }
}
